* {
    margin: 5px;
    padding: 10px;
    box-sizing: border-box;
}

main{
    background-color:;
}

body {
    height: 100%;
}


.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://live.staticflickr.com/216/509928698_7d2e84f087_b.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: realative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 30px;
}

form{
    display: flex;
    padding: 7%;
    justify-content: center;
}

h3{
    display: flex;
    justify-content: center;
}
 
p{
    display: flex;
    justify-content: center;
}